* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

hr{
    margin-right: 40px;
    margin-left: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-left: 15px;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.portfolio-name {
    font-size: 20px;
    font-weight: bold;
}


nav {
    flex-grow: 1;
    text-align: right;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    font-size: large;
    color: black;
    font-weight: bold;
}

.contact-btn {
    padding: 10px 20px;
    background-color: #00b3ff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover {
    background-color: #007bff;
} 

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    margin: 50px;
    height: 60vh;
}

.contact-info {
    width: 40%;
}

.contact-info h2 {
    font-size: 35px;
    margin: 0;
    color: #333;
}

.contact-info p {
    color: #666;
    margin: 10px 0 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-item i {
    font-size: 24px;
    color: #2953c8;
    margin-right: 15px;
}

.info-item h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.info-item p {
    margin: 5px 0;
    color: #666;
}

.contact-form {
    width: 60%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #f5fbff;
}

.contact-form button {
    padding: 12px;
    border: none;
    background-color: #1e61cd;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form button i {
    margin-left: 5px;
}

.contact-form button:hover {
    background-color: #263bb4;
}

/* Font Awesome Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


footer {
    padding: 5px;                 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 1px solid #ddd;
    font-size: 14px;
    height: 1cm;                  
    position: fixed;              
    bottom: 0;                     
    width: 100%;                                 
}