#qualification {
    text-align: center;
    padding: 50px 0;
    width: 100%;
}

#qualification h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

#qualification h2 {
    font-size: 1.5em;
    color: #666;
    margin-bottom: 40px;
}

div img{
    height: 100px;
    width: 120px;
    border: none;
    margin-right: 30px;
    margin-left: px;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry2 {
    background: #fff;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.entry2 h3 {
    margin: 0;
    color: #007BFF;
}

.entry2 p {
    margin: 5px 0;
    color: #555;
}

.entry2 span {
    display: block;
    margin: 10px 0;
    color: #999;
}

.entry2 a {
    color: #007BFF;
    text-decoration: none;
}


footer {
    padding: 5px;                 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 1px solid #ddd;
    font-size: 14px;
    height: 1cm;                  
    position: fixed;              
    bottom: 0;                     
    width: 100%;                                 
}


