#skills{
    width:100%;

}

.marquee-container {
    width: 97%;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    padding: 12px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.marquee {
    display: flex;
    gap: 30px;
    animation: marquee 15s linear infinite;
}

.marquee img {
    height: 120px;
    width: auto;
    object-fit: contain;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    height: 40vh;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 0.0001px solid rgb(199, 191, 191);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.tags span {
    background-color: #60DBFB;
    color: black;
    padding: 10px;
    border-radius: 12px;
    font-size: 1.5rem;
}

.tags span:hover {
    background-color: #01a3f5;
}

footer {
    padding: 5px;                 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 1px solid #ddd;
    font-size: 14px;
    height: 1cm;                  
    position: fixed;              
    bottom: 0;                     
    width: 100%;                                 
}


/* Media Queries for Responsiveness */

@media (max-width: 900px) {
    .nav-links {
        text-align: center;
        display: flex;
        flex-direction: column;        
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
    }

    .action-buttons button {
        display: block;
        width: 100%;
        margin: 10px 0;
    }

    footer {
        font-size: 12px;
        height: auto;
        padding: 10px;
    }
}

